@model IEnumerable<GarageMVC.Models.VehiclesModel>

@{
    ViewBag.Title = "Index";
}

<h2>Sorting</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p*@
<table class="table">
    <tr>
         <th>
                    @Html.ActionLink("Type", "Index", new { sortOrder = ViewBag.NameSortParm })
                </th>
                <th>
                    Registration Number
                </th>
                <th>
                    @Html.ActionLink("Color", "Index", new { sortOrder = ViewBag.DateSortParm })
                </th>
                <th>@Html.ActionLink("Model", "Index", new { sortOrder = ViewBag.DateSortParm })
    </th>
        <th>
            @Html.ActionLink("Brand", "Index", new { sortOrder = ViewBag.DateSortParm })
    </th>
            </tr>
            @*<th>
                @Html.DisplayNameFor(model => model.NoOfWheels)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckInTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckOutTime)
            </th>*@
          

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.NoOfWheels)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckInTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckOutTime)
        </td>*@
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>*@
    </tr>
}

</table>
