@*@model IEnumerable<GarageMVC.Models.VehiclesModel>*@
@model PagedList.IPagedList<GarageMVC.Models.VehiclesModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    ViewBag.sortName = "Typesort";
    ViewBag.sortName = "Colorsort";
    ViewBag.sortName = "Modelsort";
    ViewBag.sortName = "Brandsort";
}
<h2>Sort vehicles</h2>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>@Html.ActionLink("Type", "Index", new { sortingCriteria = ViewBag.Typesort}) &nbsp;&nbsp;<i class="glyphicon 	glyphicon glyphicon-sort-by-attributes-alt"></i></th>

            <th>@Html.ActionLink("Color", "Index", new { sortingCriteria = ViewBag.Colorsort }) &nbsp;&nbsp;<i class="glyphicon 	glyphicon glyphicon-sort-by-attributes-alt"></i> </th>
            <th>@Html.ActionLink("Model", "Index", new { sortingCriteria = ViewBag.Modelsort }) &nbsp;&nbsp;<i class="glyphicon 	glyphicon glyphicon-sort-by-attributes-alt"></i></th>
            <th>@Html.ActionLink("Brand", "Index", new { sortingCriteria = ViewBag.Brandsort }) &nbsp;&nbsp;<i class="glyphicon 	glyphicon glyphicon-sort-by-attributes-alt"></i></th>
           
    </thead>
    <tbody>
        @foreach (var vehicle in Model)
        {
            <tr>

                <td>@vehicle.Type</td>
                <td>@vehicle.Color</td>
                <td>@vehicle.Model</td>
                <td>@vehicle.Brand</td>
                          </tr>}
    </tbody>




</table> 
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

   