@model IEnumerable<GarageMVC.Models.ViewModel.VehiclesInGarage>

@{
    ViewBag.Title = "ParkedVehicles";
}

<h2>List of parked vehicles</h2>

<p>
    @Html.ActionLink("Search by", "Search")
</p>


<table class="table">
   <tr>
      @*  <th>
            @Html.ActionLink("Vehicle Type", "Index", new { sortOrder = ViewBag.RegNoSortParm })
        </th>
        <th></th>
    </tr>

        @foreach (var items in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItems => items.RegNo)
                </td>
            </tr>
         <tr>*@
        <th>
            @Html.DisplayNameFor(model => model.RegNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RegNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.ID })
                </td>*@
        </tr>
    }

</table>

